.profile{
  .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    .image{
      img{
        border-radius: 50%;
      }
    }
  }
  .posts{
    width: 100%;
    margin-top: 26px;
    h3{
      text-align: center;
      color: #0000C4;
    }
    .cards{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      h3{
        margin: 50px;
        color: black;
      }
    }
  }
}