.publish{
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .choose__photo{
    display: flex;
    align-items: center;
    justify-content: center;
    input{
      display: none;
    }
    button{
      width: 250px;
      height: 42px;
      background: #0000C4;
      color: white;
      font-weight: 600;
      border-radius: 6px;
      border: 0;
      &.active{
        background: green;
      }
    }
  }

  .description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    textarea{
      width: 230px;
      max-width: 230px;
      min-width: 230px;
      height: 100px;
      min-height: 50px;
      max-height: 230px;

      padding: 10px;
      outline: none;
      border: 1px solid black;
      border-radius: 6px;
    }
  }

  button{
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    background: green;
    border-radius: 6px;
    border: 0;
    color: white;
    font-weight: 600;
  }

  .loader{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    img{
      width: 26px;
      height: 26px;
    }
    p{
      margin-left: 10px;
      font-size: 10px;
    }
  }
}